In [1]:
import numpy as np
import pandas as pd

In [32]:
df_main_train = pd.read_csv(
    "assignment_2_train.csv"
)

df_leader_board = pd.read_csv(
    "assignment_2_test.csv"
)

print("df_main_train.shape = {} rows, {} cols".format(*df_main_train.shape))
#print("df_valid.shape = {} rows, {} cols".format(*df_valid.shape))
print("df_leader_board.shape = {} rows, {} cols".format(*df_leader_board.shape))
df_main_train.head(n=10)

df_main_train.shape = 180000 rows, 394 cols
df_leader_board.shape = 100001 rows, 394 cols

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2987005,0,86510,49.0,W,5937,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2987006,0,86522,159.0,W,12308,360.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2987007,0,86529,422.5,W,12695,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2987008,0,86535,15.0,H,2803,100.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2987009,0,86536,117.0,W,17399,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_main_train.loc[:, ['TransactionDT']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 1 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionDT  180000 non-null  int64
dtypes: int64(1)
memory usage: 1.4 MB

In [4]:
df_main_train.loc[:, ['TransactionDT']].describe().T

,count,mean,std,min,25%,50%,75%,max
TransactionDT,180000.0,1.909818e+06,1.039029e+06,86400.0,1091680.75,1884075.0,2693195.5,3958317.0

In [5]:
df_leader_board.loc[:, ['TransactionDT']].describe().T

,count,mean,std,min,25%,50%,75%,max
TransactionDT,100001.0,8.696663e+06,760390.854999,7415038.0,8023328.0,8630067.0,9346592.0,10091550.0

In [6]:
pd.to_datetime(df_main_train['TransactionDT'], unit='s').head(n=5)

0   1970-01-02 00:00:00
1   1970-01-02 00:00:01
2   1970-01-02 00:01:09
3   1970-01-02 00:01:39
4   1970-01-02 00:01:46
Name: TransactionDT, dtype: datetime64[ns]

In [7]:
df_main_train.drop(['TransactionDT', 'TransactionID'], axis='columns', inplace=True)
df_leader_board.drop(['TransactionDT', 'TransactionID'], axis='columns', inplace=True)

In [8]:
df_train.head(2)

,TransactionID,isFraud,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,68.5,W,13926,NaN,150.0,discover,142.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сделаем предобработку, которую сделали на преидущем уроке.

In [8]:
numeric_feature = df_main_train.select_dtypes(include=[np.number]).columns

сategorical_feature = list(set(df_main_train.columns) - set(numeric_feature))

df_main_train_dummy = df_main_train.copy()
#df_valid_dummy = df_valid.copy()
df_leader_board_dummy = df_leader_board.copy()

for i in range(len(сategorical_feature)):
    print(f'feature {сategorical_feature[i]}')
    сategorical_train = df_main_train[сategorical_feature[i]].unique()
    #сategorical_valid = df_valid[сategorical_feature[i]].unique()
    сategorical_test = df_leader_board[сategorical_feature[i]].unique()
    #print(f'сategorical train {сategorical_train}')
    #print(f'сategorical test {сategorical_test}')
    
    #cat_in_feature = list(set(сategorical_train) & set(сategorical_valid) & set(сategorical_test))
    cat_in_feature = list(set(сategorical_train) & set(сategorical_test))
    for cat in cat_in_feature:
        dummie_feature_name = f'{сategorical_feature[i]}_{cat}'
        #print(dummie_feature_name)
        
        if str(cat) != 'nan':
            print(f'    dummie feature name: {dummie_feature_name}')
            df_main_train_dummy[f'{сategorical_feature[i]}_{cat}'] = 0
            df_main_train_dummy.loc[df_main_train_dummy.loc[:,сategorical_feature[i]]==cat, 
                                                          [dummie_feature_name]] = 1      
            
            #df_valid_dummy[f'{сategorical_feature[i]}_{cat}'] = 0
            #df_valid_dummy.loc[df_valid_dummy.loc[:,сategorical_feature[i]]==cat, 
            #                                              [dummie_feature_name]] = 1  
            
            df_leader_board_dummy[f'{сategorical_feature[i]}_{cat}'] = 0
            df_leader_board_dummy.loc[df_leader_board_dummy.loc[:,сategorical_feature[i]]==cat, 
                                                          [dummie_feature_name]] = 1 
            
    df_main_train_dummy.drop([сategorical_feature[i]], axis='columns', inplace=True)
    #df_valid_dummy.drop([сategorical_feature[i]], axis='columns', inplace=True)
    df_leader_board_dummy.drop([сategorical_feature[i]], axis='columns', inplace=True)
    
print(f"count of categorical_df_train {df_main_train_dummy.shape}")
#print(f"count of categorical_df_valid {df_valid_dummy.shape}")
print(f"count of categorical_df_test {df_leader_board_dummy.shape}")

feature ProductCD
    dummie feature name: ProductCD_S
    dummie feature name: ProductCD_W
    dummie feature name: ProductCD_H
    dummie feature name: ProductCD_R
    dummie feature name: ProductCD_C
feature M2
    dummie feature name: M2_T
    dummie feature name: M2_F
feature card4
    dummie feature name: card4_visa
    dummie feature name: card4_mastercard
    dummie feature name: card4_discover
    dummie feature name: card4_american express
feature M6
    dummie feature name: M6_T
    dummie feature name: M6_F
feature M3
    dummie feature name: M3_T
    dummie feature name: M3_F
feature P_emaildomain
    dummie feature name: P_emaildomain_hotmail.co.uk
    dummie feature name: P_emaildomain_centurylink.net
    dummie feature name: P_emaildomain_comcast.net
    dummie feature name: P_emaildomain_hotmail.de
    dummie feature name: P_emaildomain_servicios-ta.com
    dummie feature name: P_emaildomain_live.fr
    dummie feature name: P_emaildomain_icloud.com
    dummie feature name: P_emaildomain_outlook.com
    dummie feature name: P_emaildomain_netzero.net
    dummie feature name: P_emaildomain_cableone.net
    dummie feature name: P_emaildomain_hotmail.com
    dummie feature name: P_emaildomain_att.net
    dummie feature name: P_emaildomain_yahoo.fr
    dummie feature name: P_emaildomain_hotmail.es
    dummie feature name: P_emaildomain_live.com.mx
    dummie feature name: P_emaildomain_yahoo.co.jp
    dummie feature name: P_emaildomain_embarqmail.com
    dummie feature name: P_emaildomain_gmail
    dummie feature name: P_emaildomain_gmx.de
    dummie feature name: P_emaildomain_hotmail.fr
    dummie feature name: P_emaildomain_charter.net
    dummie feature name: P_emaildomain_yahoo.co.uk
    dummie feature name: P_emaildomain_twc.com
    dummie feature name: P_emaildomain_suddenlink.net
    dummie feature name: P_emaildomain_rocketmail.com
    dummie feature name: P_emaildomain_aim.com
    dummie feature name: P_emaildomain_windstream.net
    dummie feature name: P_emaildomain_prodigy.net.mx
    dummie feature name: P_emaildomain_mail.com
    dummie feature name: P_emaildomain_web.de
    dummie feature name: P_emaildomain_yahoo.de
    dummie feature name: P_emaildomain_gmail.com
    dummie feature name: P_emaildomain_me.com
    dummie feature name: P_emaildomain_anonymous.com
    dummie feature name: P_emaildomain_yahoo.es
    dummie feature name: P_emaildomain_juno.com
    dummie feature name: P_emaildomain_outlook.es
    dummie feature name: P_emaildomain_bellsouth.net
    dummie feature name: P_emaildomain_msn.com
    dummie feature name: P_emaildomain_verizon.net
    dummie feature name: P_emaildomain_live.com
    dummie feature name: P_emaildomain_cfl.rr.com
    dummie feature name: P_emaildomain_optonline.net
    dummie feature name: P_emaildomain_cox.net
    dummie feature name: P_emaildomain_yahoo.com.mx
    dummie feature name: P_emaildomain_frontier.com
    dummie feature name: P_emaildomain_mac.com
    dummie feature name: P_emaildomain_q.com
    dummie feature name: P_emaildomain_netzero.com
    dummie feature name: P_emaildomain_earthlink.net
    dummie feature name: P_emaildomain_frontiernet.net
    dummie feature name: P_emaildomain_protonmail.com
    dummie feature name: P_emaildomain_ymail.com
    dummie feature name: P_emaildomain_sbcglobal.net
    dummie feature name: P_emaildomain_roadrunner.com
    dummie feature name: P_emaildomain_aol.com
    dummie feature name: P_emaildomain_sc.rr.com
    dummie feature name: P_emaildomain_ptd.net
    dummie feature name: P_emaildomain_yahoo.com
feature R_emaildomain
    dummie feature name: R_emaildomain_hotmail.co.uk
    dummie feature name: R_emaildomain_comcast.net
    dummie feature name: R_emaildomain_servicios-ta.com
    dummie feature name: R_emaildomain_hotmail.de
    dummie feature name: R_emaildomain_live.fr
    dummie feature name: R_emaildomain_icloud.com
    dummie feature name: R_emaildomain_outlook.com
    dummie feature name: R_emaildomain_cableone.net
    dummie feature name: R_emaildomain_hotmail.com
    dummie feature name: R_emaildomain_att.net
    dummie feature name: R_emaildomain_yahoo.fr
    dummie feature name: R_emaildomain_hotmail.es
    dummie feature name: R_emaildomain_live.com.mx
    dummie feature name: R_emaildomain_yahoo.co.jp
    dummie feature name: R_emaildomain_embarqmail.com
    dummie feature name: R_emaildomain_gmx.de
    dummie feature name: R_emaildomain_gmail
    dummie feature name: R_emaildomain_hotmail.fr
    dummie feature name: R_emaildomain_charter.net
    dummie feature name: R_emaildomain_yahoo.co.uk
    dummie feature name: R_emaildomain_suddenlink.net
    dummie feature name: R_emaildomain_rocketmail.com
    dummie feature name: R_emaildomain_aim.com
    dummie feature name: R_emaildomain_windstream.net
    dummie feature name: R_emaildomain_prodigy.net.mx
    dummie feature name: R_emaildomain_mail.com
    dummie feature name: R_emaildomain_web.de
    dummie feature name: R_emaildomain_yahoo.de
    dummie feature name: R_emaildomain_gmail.com
    dummie feature name: R_emaildomain_scranton.edu
    dummie feature name: R_emaildomain_me.com
    dummie feature name: R_emaildomain_anonymous.com
    dummie feature name: R_emaildomain_yahoo.es
    dummie feature name: R_emaildomain_juno.com
    dummie feature name: R_emaildomain_outlook.es
    dummie feature name: R_emaildomain_bellsouth.net
    dummie feature name: R_emaildomain_msn.com
    dummie feature name: R_emaildomain_verizon.net
    dummie feature name: R_emaildomain_live.com
    dummie feature name: R_emaildomain_cfl.rr.com
    dummie feature name: R_emaildomain_optonline.net
    dummie feature name: R_emaildomain_cox.net
    dummie feature name: R_emaildomain_yahoo.com.mx
    dummie feature name: R_emaildomain_frontier.com
    dummie feature name: R_emaildomain_mac.com
    dummie feature name: R_emaildomain_q.com
    dummie feature name: R_emaildomain_netzero.com
    dummie feature name: R_emaildomain_earthlink.net
    dummie feature name: R_emaildomain_protonmail.com
    dummie feature name: R_emaildomain_ymail.com
    dummie feature name: R_emaildomain_sbcglobal.net
    dummie feature name: R_emaildomain_roadrunner.com
    dummie feature name: R_emaildomain_aol.com
    dummie feature name: R_emaildomain_sc.rr.com
    dummie feature name: R_emaildomain_ptd.net
    dummie feature name: R_emaildomain_yahoo.com
feature M8
    dummie feature name: M8_T
    dummie feature name: M8_F
feature M5
    dummie feature name: M5_T
    dummie feature name: M5_F
feature M7
    dummie feature name: M7_T
    dummie feature name: M7_F
feature M4
    dummie feature name: M4_M0
    dummie feature name: M4_M2
    dummie feature name: M4_M1
feature card6
    dummie feature name: card6_debit or credit
    dummie feature name: card6_debit
    dummie feature name: card6_charge card
    dummie feature name: card6_credit
feature M9
    dummie feature name: M9_T
    dummie feature name: M9_F
feature M1
    dummie feature name: M1_T
    dummie feature name: M1_F
count of categorical_df_train (180000, 525)
count of categorical_df_test (100001, 525)

Задание 1: сделать Hold-Out валидацию с разбиением, размер которого будет адеквтаным, по вашему мнению; разбиение проводить по id-транзакции (TransactionID), обучать модель градиетного бустинга любой реализации с подбором числа деревьев по early_stopping критерию до достижения сходимости. Оценить качество модели на валидационной выборке, оценить расхождение по сравнению с качеством на обучающей выборке и валидационной выборке. Оценить качество на ЛБ, сравнить с качеством на обучении и валидации. Сделать выводы.

In [14]:
from sklearn.model_selection import train_test_split
df_train, df_test = train_test_split(df_main_train_dummy, test_size=0.33,  random_state=42)
#df_valid, df_test = train_test_split(df_test, test_size=0.5,  random_state=42)

y_train = df_train['isFraud']
#y_valid = df_valid['isFraud']
y_test = df_test['isFraud']

df_train.drop(['isFraud'], axis='columns', inplace=True)
#df_valid.drop(['isFraud'], axis='columns', inplace=True)
df_test.drop(['isFraud'], axis='columns', inplace=True)

print("df_train.shape = {} rows, {} cols".format(*df_train.shape))
#print("df_valid.shape = {} rows, {} cols".format(*df_valid.shape))
print("df_test.shape = {} rows, {} cols".format(*df_test.shape))

gf_train.shape = 120600 rows, 524 cols
df_test.shape = 59400 rows, 524 cols

In [10]:
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'

In [15]:
dtrain = xgb.DMatrix(data=df_train, label=y_train, silent=True)
#dvalid = xgb.DMatrix(data=df_valid, label=y_valid, silent=True)
dtest = xgb.DMatrix(data=df_test, silent=True)

NameError: name 'xgb' is not defined

In [ ]:
params = {
    "booster": "gbtree",
    "objective": "binary:logistic",
    "eval_metric": "auc",
    "learning_rate": 0.01,
    "n_estimators": 1000,
    "reg_lambda": 100,
    "max_depth": 4,
    "gamma": 10,
    "nthread": 6,
    "seed": 27
}

model_xgb = xgb.Booster(params=params)

In [ ]:
model_xgb = xgb.fit(
    dtrain=dtrain,
    num_boost_round=1000,
    early_stopping_rounds=10,
    evals=[(dtrain, "train")],
    verbose_eval=10,
    maximize=True,
)

Задание 2: сделать Hold-Out валидацию с разбиением на 3 выборки, разбиение проводить по id-транзакции (TransactionID), размер каждой выборки подобрать самостоятельно. Повторить процедуру из п.1. для каждой выборки.

In [16]:
df_train, df_test = train_test_split(df_main_train_dummy, test_size=0.33,  random_state=42)
df_valid, df_test = train_test_split(df_test, test_size=0.5,  random_state=42)

y_train = df_train['isFraud']
y_valid = df_valid['isFraud']
y_test = df_test['isFraud']

df_train.drop(['isFraud'], axis='columns', inplace=True)
df_valid.drop(['isFraud'], axis='columns', inplace=True)
df_test.drop(['isFraud'], axis='columns', inplace=True)

print("df_train.shape = {} rows, {} cols".format(*df_train.shape))
print("df_valid.shape = {} rows, {} cols".format(*df_valid.shape))
print("df_test.shape = {} rows, {} cols".format(*df_test.shape))

df_train.shape = 120600 rows, 524 cols
df_valid.shape = 29700 rows, 524 cols
df_test.shape = 29700 rows, 524 cols

In [ ]:
dtrain = xgb.DMatrix(data=df_train, label=y_train, silent=True)
dvalid = xgb.DMatrix(data=df_valid, label=y_valid, silent=True)
dtest = xgb.DMatrix(data=df_test, silent=True)

In [ ]:
params = {
    "booster": "gbtree",
    "objective": "binary:logistic",
    "eval_metric": "auc",
    "learning_rate": 0.01,
    "n_estimators": 1000,
    "reg_lambda": 100,
    "max_depth": 4,
    "gamma": 10,
    "nthread": 6,
    "seed": 27
}


model_xgb = xgb.Booster(params=params)

In [ ]:
model_xgb = xgb.fit(
    dtrain=dtrain,
    num_boost_round=1000,
    early_stopping_rounds=10,
    evals=[(dtrain, "train"), (dvalid, "valid")],
    verbose_eval=10,
    maximize=True,
)

Задание 3: построить доверительный интервал на данных из п.2 на основе бутстреп выборок, оценить качество модели на ЛБ относительно полученного доверительного интервала. Сделать выводы.

In [19]:
from typing import List, Tuple

def create_bootstrap_samples(data: np.array, n_samples: int = 1000) -> np.array:
    """
    Создание бутстреп-выборок.

    Parameters
    ----------
    data: np.array
        Исходная выборка, которая будет использоваться для
        создания бутстреп выборок.

    n_samples: int, optional, default = 1000
        Количество создаваемых бутстреп выборок.
        Опциональный параметр, по умолчанию, равен 1000.

    Returns
    -------
    bootstrap_idx: np.array
        Матрица индексов, для создания бутстреп выборок.

    """
    bootstrap_idx = np.random.randint(
        low=0, high=len(data), size=(n_samples, len(data))
    )
    return bootstrap_idx


def create_bootstrap_metrics(y_true: np.array,
                             y_pred: np.array,
                             metric: callable,
                             n_samlpes: int = 1000) -> List[float]:
    """
    Вычисление бутстреп оценок.

    Parameters
    ----------
    y_true: np.array
        Вектор целевой переменной.

    y_pred: np.array
        Вектор прогнозов.

    metric: callable
        Функция для вычисления метрики.
        Функция должна принимать 2 аргумента: y_true, y_pred.

    n_samples: int, optional, default = 1000
        Количество создаваемых бутстреп выборок.
        Опциональный параметр, по умолчанию, равен 1000.

    Returns
    -------
    bootstrap_metrics: List[float]
        Список со значениями метрики качества на каждой бустреп выборке.

    """
    scores = []

    if isinstance(y_true, pd.Series):
        y_true = y_true.values

    bootstrap_idx = create_bootstrap_samples(y_true)
    for idx in bootstrap_idx:
        y_true_bootstrap = y_true[idx]
        y_pred_bootstrap = y_pred[idx]

        score = metric(y_true_bootstrap, y_pred_bootstrap)
        scores.append(score)

    return scores


def calculate_confidence_interval(scores: list, conf_interval: float = 0.95) -> Tuple[float]:
    """
    Вычисление доверительного интервала.

    Parameters
    ----------
    scores: List[float / int]
        Список с оценками изучаемой величины.

    conf_interval: float, optional, default = 0.95
        Уровень доверия для построения интервала.
        Опциональный параметр, по умолчанию, равен 0.95.

    Returns
    -------
    conf_interval: Tuple[float]
        Кортеж с границами доверительного интервала.

    """
    left_bound = np.percentile(
        scores, ((1 - conf_interval) / 2) * 100
    )
    right_bound = np.percentile(
        scores, (conf_interval + ((1 - conf_interval) / 2)) * 100
    )

    return left_bound, right_bound

In [ ]:
from sklearn.metrics import roc_auc_score

np.random.seed(27)
scores = create_bootstrap_metrics(y_test.append(y_valid), model_xgb.predict(df_test.append(df_valid)), roc_auc_score)

confidence_interval = calculate_confidence_interval(scores)
confidence_interval

In [ ]:
fig, axes = plt.subplots(1, 2, figsize=(15, 5))
plt.suptitle("Bootstrap for evaluating validation stability", size=15)

axes[1].scatter(range(len(scores)), scores, alpha=0.25, color="blue")
axes[1].set_xlabel("sampel number", size=15)
axes[1].set_ylabel("accuracy score", size=15)

sns.distplot(scores, ax=axes[0], color="green", bins=20)
axes[0].set_xlabel("sampel number", size=15)

Задание 4: выполнить Adversarial Validation, подобрать объекты из обучающей выборки, которые сильно похожи на объекты из assignment_2_test.csv, и использовать их в качестве валидационного набора. Оценить качество модели на ЛБ, сделать выводы о полученных результатах.

In [27]:
df_train = df_main_train_dummy.copy()
df_test = df_leader_board_dummy.copy()

y_train = df_train['isFraud']
y_test = df_test['isFraud']

df_train.drop(['isFraud'], axis='columns', inplace=True)
df_test.drop(['isFraud'], axis='columns', inplace=True)

In [28]:
x_adv = pd.concat([
    df_train, df_test], axis=0
)
y_adv = np.hstack((np.zeros(df_train.shape[0]), np.ones(df_test.shape[0])))
assert x_adv.shape[0] == y_adv.shape[0]

In [31]:
model = xgb.XGBClassifier(n_estimators=25)
model.fit(x_adv, y_adv)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [ ]:
y_pred_adv = model.predict_proba(x_adv)
score = roc_auc_score(y_adv, y_pred_adv[:, 1])
print(round(score, 4))

In [ ]:
y_pred = model.predict_proba(df_train)
y_pred

In [ ]:
pd.cut(
    y_pred[:, 1], bins=np.arange(0, 1.01, 0.1)
).value_counts().sort_index()